@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #FCEEF1;
    height: 850px;
    margin-bottom: 178px;
}

.hmain{
    height: 800px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
}

.htext{
    width: 708px;
    margin-right: 97px;
    margin-bottom: 50px;
    margin-top: 197px;
}

.htext h1{
    font-size: 80px;
    font-weight: 800;
    color: #1E1E1E;
    margin-bottom: 32px;
}
.htext p{
    font-size: 18px;
    font-weight: 400;
    color: #7C7778;
    margin-bottom: 32px;
}


.htext a{
    background-color: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 8px;
    border-color: #E55473;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.himg{
    /* background-color: green; */
    height: 800px;
    width: 635px;
    margin-top: 50px;
}

.himg img{
    width: 100%;
}


.featureTitle{
    width: 594px;
    height: 132px;
    /* background-color: blueviolet; */
    margin: 0 auto;
    margin-bottom: 48px;
}

.featureTitle h2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.featureTitle p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.item1{
    background-color: #F2DEE7;
    width: 464px;
    height: 538px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

.f1{
    width: 310px;
    height: 428px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 32px;
}

.f1 img{
    width: 100%;
}

.item1 p{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}


.item2{
    background-color: #D9EFF1;
    width: 464px;
    height: 538px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    margin-left: 24px;
    margin-right: 24px;
}

.f2{
    width: 370px;
    height: 370px;
    margin: 0 auto;
    margin-top: 117px;
    margin-bottom: 83px;
}
.f2 img{
    width: 100%;
}


.item2 p{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

.item3{
    background-color: #E3EBDB;
    width: 464px;
    height: 538px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

.f3{
    width: 314px;
    height: 471px;
    margin: 0 auto;
    margin-top: 67px;
    margin-bottom: 32px;
}
.f3 img{
    width: 100%;
}

.item3 p{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

.featureItem{
    width: 1440px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 195px;
}

.featureItem2{
    margin-top: 128px;
    width: 1440px;
    margin: 0 auto;
    background-color: #F4F4F4;
    padding-top: 85px;
    padding-bottom: 85px;
}

.insidefeatureItem2{
    width: 1190px;
    height: 147px;
    margin: auto;
    display: flex;
}

.icon1{
    margin-right: 100px;
}
.i1{
    width: 88px;
    height: 88px;
    margin-bottom: 24px;
    margin: 0 auto;
}
.i1 img{
    width: 100%;
}
.icon1 p{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.icon2{
    width: 316px;
}
.i2{
    width: 88px;
    height: 88px;
    margin-bottom: 24px;
    margin: 0 auto;
}
.i2 img{
    width: 100%;
}
.icon2 p{
    color: rgba(39, 39, 39, 0.80);
    font-size: 23px;
    font-weight: 600;
    text-align: center;
}


.icon3{
    width: 202px;
    margin-left: 100px;
}
.i3{
    width: 88px;
    height: 88px;
    margin-bottom: 24px;
    margin: 0 auto;
}
.i3 img{
    width: 100%;
}
.icon3 p{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

#feature{
    margin-bottom: 128px;
}

#hotDeal{
    background-color: #FEF6F8;
    height: 620px;
    margin-bottom: 128px;
}

.hotDeal-container{
    width: 1098px;
    height: 420px;
    display: flex;
    margin: 0 auto;
}

.hotDeal-text{
    width: 594px;
    height: 228px;
    margin-right: 186px;
    margin-top: 230px;
    margin-bottom: 162px;
    text-align: center;
}
.hotDeal-text h2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}
.off{
    color: #DF7764;
}

.hotDeal-text p{
    color: #7D7A7B;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;
}
.hotDeal-text a{
    background-color: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 8px;
    border-color: #E55473;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}


.hotDeal-img{
    width: 318px;
    height: 420px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hotDeal-img img{
    width: 100%;
}


.instagram-title{
    width: 594px;
    height: 132px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

.instagram-title h2{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    text-align: center;
    margin-bottom: 24px;
}

.instagram-title p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
}

.instagram-img{
    width: 1440px;
    height: 396px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 128px;
}

.img1{
    width: 342px;
    height: 396px;
    margin-right: 24px;
}

.img1 img{
    width: 100%;
}

.img2{
    width: 342px;
    height: 396px;
    margin-right: 24px;
}

.img2 img{
    width: 100%;
}
.img3{
    width: 342px;
    height: 396px;
    margin-right: 24px;
}

.img3 img{
    width: 100%;
}
.img4{
    width: 342px;
    height: 396px;
}

.img4 img{
    width: 100%;
}

.about-container{
    width: 1440px;
    height: 500px;
    margin: 0 auto;
}
.about-title h2{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    text-align: center;
    margin-bottom: 24px;
    padding-top: 24px;
    text-decoration: underline;
}

.about-item{
    display: flex;
}

.about-img{
    padding-top: 24px;
    margin-top: 24px;
    height: 405px;
    width: 600px;
}
.about-img img{
    width: 100%;
    border:10px solid #272727;
}

.about-text{
    margin-left: 100px;
    width: 700px;
    height: 405px;
}
.about-text p{
    padding-top: 50px;
    color: #272727;
    font-size: 24px;
    font-weight: 400;
    text-align: justify;

}

#subscribe{
    margin-bottom: 128px;
}
.subscribe-img{
    width: 1440px;
    height: 449px;
    background-image: url("images/Rectangle-9.png");
    margin: 0 auto;
    margin-top: 128px;
}

.subscribe-title{
    width: 866px;
    margin: 0 auto;
    height: 206px;
    margin-top: 122px;
    text-align: center;
}
.subscribe-title h2{

    margin-top: 122px;
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    text-align: center;
    margin-bottom: 16px;
}

.subscribe-title p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-bottom: 48px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    height: 64px;
    width: 700px;
    margin-right: 16px;
  }

  .input a{
    background-color: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 31px;
    padding-right: 31px;
    border-radius: 8px;
    border-color: #E55473;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}


.input{
    margin: 0 auto;
    text-align: center;
}


footer{
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: #111010;
    margin: auto;
}


.flower{
    color: #E55473;
}

footer h2{
    font-size: 48px;
    font-weight: 800;
    color: #FFF;
    text-align: center;
    margin-bottom: 24px;
}

.p1{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;
}

footer p{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}